body {
  color: #eee;
  background-color: #333;
}

.scantitle {
  padding-left: 20px;
}

.rightlabel {
  position: absolute;

  margin-top: -20px;
  margin-left: 10px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 2px;

  font-family: monospace;
  font-size: 10px;
  text-align: center;
}

.leftlabel {
  position: absolute;

  margin-top: -14px;
  margin-left: -29px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 2px;

  font-family: monospace;
  font-size: 10px;
  text-align: center;
}

.small {
  font-size: 12px;
}

.tmlabel {
  padding: 2px;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 4px;

  font-family: monospace;
  font-size: 12px;
  color: #fff;

  background-color: #999;
}

.perco {
  border-radius: 2px;

  font-family: monospace;
  font-size: 10px;
  color: #eee;
  text-align: center;

  background-color: #090;
}

.percf {
  border-radius: 2px;

  font-family: monospace;
  font-size: 10px;
  color: #eee;
  text-align: center;

  background-color: #999;
}

.percc {
  border-radius: 2px;

  font-family: monospace;
  font-size: 10px;
  color: #eee;
  text-align: center;

  background-color: #f00;
}

.label {
  padding: 6px;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
}
