body {
  /** font-weight:300; */
}

b {
  font-weight: 600;
}

h1 {
  font-weight: 700;
}

.subtitle {
  margin-top: -20px;
  font-size: 24px;
  color: #999;
}

.small {
  font-size: 12px;
  color: #666;
}

.margintb {
  margin-top: 60px;
  margin-bottom: 60px;
}

.bleft {
  border-left: solid #999 1px;
}

.extrainfo {
  margin-bottom: 10px;
  padding: 10px;
  border-top: solid #ccc 1px;
  border-radius: 4px;

  font-family: monospace;

  background-color: #eee;
}

.extratitle {
  margin-top: 40px;
  font-size: 20px;
}

.label {
  padding: 6px;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
}
