name: Docker Image Release Build

on:
  push:
    branches: [ "latest", "release*" ]

env:
  # setting this in Settings/Secrets and Variables/Actions/Repository variables improves usability in forks
  DOCKERUSER: ${{ vars.DOCKERUSER }}
  IS_PUSHING_IMAGES: true
 
jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write

    steps:
      -
        uses: actions/checkout@v6
        with:
          fetch-tags: 'true'
      -
        name: Login to Docker Container Hub
        uses: docker/login-action@v3
        with:
          registry: 'docker.io'
          username: ${{ env.DOCKERUSER }}
          password: ${{ secrets.DOCKERHUB }}
      -
        name: Login to GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: 'ghcr.io'
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          tags: |
            # only push for now event on selected branches
            type=ref,event=branch
          images: |
            loiusc/webmap
            ghcr.io/${{ github.repository }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push Docker images
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ env.IS_PUSHING_IMAGES }}
          platforms: amd64,arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: docker/Dockerfile
      -
        name: Generate artifact attestation
        id: attest
        if: ${{ env.IS_PUSHING_IMAGES }}
        uses: actions/attest-build-provenance@v3
        with:
          push-to-registry: ${{ env.IS_PUSHING_IMAGES }}
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.push.outputs.digest }}

