name: Django CI

on:
  push:
    branches:
      - '*'
      - '!master'
      - '!latest'
      - '!release*'

jobs:
  run-python-unit-tests:

    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.14]

    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: requirements.txt
          sparse-checkout-cone-mode: false
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          django-admin startproject nmapdashboard
          sudo apt-get install nmap
      - uses: actions/checkout@v6
        with:
          path: nmapdashboard/nmapreport
      - name: Run Tests
        run: |
          cd nmapdashboard ; python manage.py test nmapreport/tests/

  run-flake8-lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6
      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.14"
      - name: flake8 Lint
        uses: py-actions/flake8@v2
        with:
          #args: --ignore=W191,E501
          args: --ignore=W191,W291,W293,W391,W504,F401,F403,F405,F841,E101,E117,E122,E126,E127,E128,E131,E201,E202,E221,E225,E226,E231,E261,E265,E275,E291,E293,E302,E303,E305,E401,E501,E703,E722

  build:
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
      IS_PUSHING_IMAGES: true
      DEV_IMAGE_REPOSITORY: ghcr.io/${{ github.repository }}
 
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: [ run-python-unit-tests, run-flake8-lint ]
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      -
        uses: actions/checkout@v6
        with:
          fetch-tags: 'true'
      -
        name: Login to GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: 'ghcr.io'
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          tags: |
            type=ref,event=branch
          images: |
            ${{ env.DEV_IMAGE_REPOSITORY }}
#          labels: |
#            org.opencontainers.image.version=development
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push Docker images
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ env.IS_PUSHING_IMAGES }}
          platforms: amd64,arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: docker/Dockerfile
      -
        name: Generate artifact attestation
        id: attest
        if: ${{ env.IS_PUSHING_IMAGES }}
        uses: actions/attest-build-provenance@v3
        with:
          push-to-registry: ${{ env.IS_PUSHING_IMAGES }}
          subject-name: ${{ env.DEV_IMAGE_REPOSITORY }}
          subject-digest: ${{ steps.push.outputs.digest }}

